<div>
  {{#if this.isTextInput}}
    <Input
      aria-labelledby=""
      @type="text"
      {{on "change" this.onChange}}
      class="input"
    />
  {{/if}}

  {{#if this.isCheckbox}}
    <div class="checkboxes">
      {{#each @values as |value|}}
        <Input
          id="admin-checkbox"
          @type="checkbox"
          {{on "change" this.onCheckboxChange}}
          @value={{value}}
          name={{value}}
        />
      {{/each}}
    </div>
  {{/if}}

  {{#if this.isSelect}}
    <select aria-labelledby="" {{on "change" this.onChange}} class="input">
      <option>Choose Value</option>
      {{#each @values as |value|}}
        <option value={{value}}>
          {{value}}
        </option>
      {{/each}}
    </select>
  {{/if}}
</div>