<form class="search-form">
  <div class="fields-container">
    <fieldset class="fieldset">
      <label for="category" class="label">Category:</label>
      <select
        aria-required="true"
        required="true"
        name="category"
        id="category"
        class="input"
        {{on "change" this.handleCategoryChange}}
      >
        <option value="-1">Choose Category</option>
        {{#each @categories as |category|}}
          <option
            value={{category.id}}
            class="bg-white"
          >{{category.name}}</option>
        {{/each}}
      </select>
    </fieldset>

    {{#if this.visibleOperators}}
      <fieldset class="fieldset">
        <label for="operator" class="label">
          Operator:
        </label>
        <select
          aria-required="true"
          required="true"
          name="operator"
          id="operator"
          class="input"
          {{on "change" this.handleOperatorChange}}
        >
          <option value="empty">Choose Operator</option>
          {{#each this.visibleOperators as |operator|}}
            <option value={{operator.id}}>
              {{operator.text}}
            </option>
          {{/each}}
        </select>
      </fieldset>
    {{/if}}

    {{#if this.isDynamicInputVisible}}
      <fieldset class="fieldset">
        <label for="value" class="label">
          Value:
        </label>
        {{#if this.isTextInput}}
          <Input
            aria-labelledby=""
            @type="text"
            {{on "input" this.handleInputValueChange}}
            class="input"
          />
        {{/if}}

        {{#if this.isCheckbox}}
          <div class="checkboxes">
            {{#each this.currentCategoryProperty.values as |value|}}
              <label for={{value}}>{{value}}</label>
              <Input
                @type="checkbox"
                {{on "change" this.onCheckboxChange}}
                @value={{value}}
                name={{value}}
                id={{value}}
              />
            {{/each}}
          </div>
        {{/if}}

        {{#if this.isSelect}}
          <select
            aria-labelledby=""
            {{on "change" this.handleInputValueChange}}
            class="input"
          >
            <option>Choose Value</option>
            {{#each this.currentCategoryProperty.values as |value|}}
              <option value={{value}}>
                {{value}}
              </option>
            {{/each}}
          </select>
        {{/if}}
      </fieldset>
    {{/if}}
  </div>
  <div>
    <button
      type="button"
      class="clear-button"
      {{on "click" this.handleOnClear}}
    >
      Clear
    </button>
  </div>
</form>